body {
    background-color: lightgoldenrodyellow;
}

h1 {
    color: navy;
    margin-left: 20px;
    font-size: 90px;
}

.btn-index{
    font-size: 60px;

}

.margin{

}

.panel{

    margin-top: 100px;
}

.input[type=text],
.input[type=password]{
    width: 50%;

}